<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.BrandMapper">

    <resultMap id="BrandResultMap" type="models.Brand">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="BrandResultMap">
        SELECT * FROM brand WHERE id = #{id}
    </select>

    <select id="findByName" parameterType="string" resultMap="BrandResultMap">
        SELECT * FROM brand WHERE UPPER(name) = UPPER(#{name})
    </select>

    <select id="findAll" resultMap="BrandResultMap">
        SELECT * FROM brand
    </select>

    <insert id="insert" parameterType="models.Brand" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO brand (name, created_at)
        VALUES (#{name}, CURRENT_TIMESTAMP)
    </insert>

    <update id="update" parameterType="models.Brand">
        UPDATE brand
        SET name = #{name},
            updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM brand WHERE id = #{id}
    </delete>

</mapper>
