<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.CityMapper">

    <resultMap id="CityResultMap" type="models.City">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="CityResultMap">
        SELECT * FROM city WHERE id = #{id}
    </select>

    <select id="findByName" parameterType="string" resultMap="CityResultMap">
        SELECT * FROM city WHERE UPPER(name) = UPPER(#{name})
    </select>

    <select id="findAll" resultMap="CityResultMap">
        SELECT * FROM city
    </select>

    <insert id="insert" parameterType="models.City" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO city (name, created_at)
        VALUES (#{name}, CURRENT_TIMESTAMP)
    </insert>

    <update id="update" parameterType="models.City">
        UPDATE city
        SET name = #{name},
            updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM city WHERE id = #{id}
    </delete>

</mapper>
